<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= person.surname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= person.age %>
  </p>

</div>
